In [5]:
# 1. write a programme for the below ;
# 	input = [1,2,3,4,5]
# 	output = [5,4,3,2,1]

inputs = [1,2,3,4,5]
output = []

for i in inputs:
    output.insert(0,i)
    
print(output)

[5, 4, 3, 2, 1]

In [2]:
# 2. create a function to remove n th element from the string 
# 	a = 'canvendor'

def fun(a,n):
    a1 = a[:n]
    a2 = a[n+1:]
    return a1+a2
    
a = "canvendor"
n = int(input("enter a number from 0 to 8: "))

fun(a,n)

enter a number from 0 to 8:  1

'cnvendor'

In [3]:
# 3.write a programme for 2 multipilcation table.

for n in range(1,11):
        print(n,"X",2,"=",n*2)

1 X 2 = 2
2 X 2 = 4
3 X 2 = 6
4 X 2 = 8
5 X 2 = 10
6 X 2 = 12
7 X 2 = 14
8 X 2 = 16
9 X 2 = 18
10 X 2 = 20

In [4]:
#4.write a programme for 2,3,4,5 multiplication tables.
number_list = [2, 3, 4, 5]

for i in number_list:
    for n in range(1,11):
        print(n,"X",i,"=",n*i)

1 X 2 = 2
2 X 2 = 4
3 X 2 = 6
4 X 2 = 8
5 X 2 = 10
6 X 2 = 12
7 X 2 = 14
8 X 2 = 16
9 X 2 = 18
10 X 2 = 20
1 X 3 = 3
2 X 3 = 6
3 X 3 = 9
4 X 3 = 12
5 X 3 = 15
6 X 3 = 18
7 X 3 = 21
8 X 3 = 24
9 X 3 = 27
10 X 3 = 30
1 X 4 = 4
2 X 4 = 8
3 X 4 = 12
4 X 4 = 16
5 X 4 = 20
6 X 4 = 24
7 X 4 = 28
8 X 4 = 32
9 X 4 = 36
10 X 4 = 40
1 X 5 = 5
2 X 5 = 10
3 X 5 = 15
4 X 5 = 20
5 X 5 = 25
6 X 5 = 30
7 X 5 = 35
8 X 5 = 40
9 X 5 = 45
10 X 5 = 50

In [6]:
# 5.write a code for the below ;
# 	1. write a function to find odd or even number.
# 	2. write a code to print odd for odd number and even for even number , for n numbers.

n = int(input("enter a number"))
if n % 2 == 0:
    print("This is an Even number")
else:
    print("This is an Odd number")

enter a number 25

This is an Odd number

In [ ]:
# 6.write a code for first 10 values of 2 multiplication table using while loop.

start = 1
table = 2
end = 10
while start <= end:
    print(start,"X",table,"=",start*table)
    start += 1
    
#another method

start = 1
while start <= 10:
    print(start,"X","2","=",start*2)
    start += 1

In [ ]:
# 7.Print the following pattern
# 	1 
# 	2 2 
# 	3 3 3 
# 	4 4 4 4 
# 	5 5 5 5 5

number = 5
for a in range(1, number + 1):
    for b in range(a):
        print(a, end=" ")
    print("")

In [ ]:
# 8. Check Palindrome Number
#    Write a program to check if the given number is a palindrome number.

#    A palindrome number is a number that is the same after reverse. For example, 545, is the palindrome numbers

def palindrome(n):
    str_n = str(n)
    rev_str_n = str_n[::-1]
    return str_n == rev_str_n

n = int(input("Enter a number"))

if palindrome(n):
    print("This is a Palindrome number")
else:
    print("This is not a Palindrome number")

In [7]:
# 9. Print the following pattern
#    Write a program to print the following number pattern using a loop.

# 	1 
# 	1 2 
# 	1 2 3 
# 	1 2 3 4 
# 	1 2 3 4 5

number = 5 

for a in range(number + 1):
    for b in range(1, a + 1):
        print(b, end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [9]:
#10. Calculate the sum of all numbers from 1 to a given number , try 33,77,100.

number = int(input("Enter a number"))
sum = 0
for a in range(1, number + 1):
    sum += a
print(sum)

Enter a number 100

5050

In [10]:
# 11. Display Fibonacci series up to 10 terms
#     	The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers 	before it.The first two numbers are 0 and 1.
# 	For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

n = 10
n1, n2 = 0, 1
number = 0

print(n1)
print(n2)

while number < n:
    N = n1 + n2
    n1 = n2
    n2 = N
    number += 1
    print(N)

0
1
1
2
3
5
8
13
21
34
55
89

In [11]:
# 12. Write a program to print the following start pattern using the for loop

# * 
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *

number = 4
for a in range(number + 1):
    for b in range(1, a+1):
        print("*", end=" ")
    print("")

for a in range(number + 1, 0, -1):
    for b in range(1, a + 1):
        print("*", end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [12]:
# 13. Concatenate two lists index-wise
# Given:

# list1 = ["M", "na", "i", "Ke"]
# list2 = ["y", "me", "s", "lly"]
# Expected output:

# ['My', 'name', 'is', 'Kelly']

list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
a = list1[0] + list2[0]
b = list1[1] + list2[1]
c = list1[2] + list2[2]
d = list1[3] + list2[3]
print(f"['{a}','{b}','{c}','{d}']")

#another method

list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

list3 = [i+j for i,j in zip(list1, list2)]
print(list3)

#another one 

list3 = []
a = list1[0] + list2[0]
b = list1[1] + list2[1]
c = list1[2] + list2[2]
d = list1[3] + list2[3]
list3.append(a)
list3.append(b)
list3.append(c)
list3.append(d)
print(list3)

#another one

list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = []

for i in range(len(list1)):
    list3.append(list1[i] + list2[i])

print(list3)

['My','name','is','Kelly']

In [13]:
# 14.Print the value of key ‘history’ from the below dict

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

sampleDict["class"]["student"]["marks"]["history"]

80

In [14]:
#Python Program function to find volume, surface area of a cuboid.length = 9, breadth = 6, height = 10

l, b, h = 9, 6, 10

area = 2*((l * b)+(b * h)+(h * l))
volume = l * b * h

print(f"Area of Cuboid is {area}")
print(f"Volume of Cuboid is {volume}")

#another method

def cuboid_area(l, b, h):
    area = 2*((l * b)+(b * h)+(h * l))
    return area
    
def cuboid_volume(l,b,h):
    volume = l * b * h
    return volume

l, b, h = 9, 6, 10

print("Area of Cuboid is:",cuboid_area(l, b, h))
print("Volume of Cuboid is:",cuboid_volume(l, b, h))

Area of Cuboid is 408
Volume of Cuboid is 540